<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="/css/sticky.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>[Error]</title>
</head>
<body>

  <section class="hero is-fullheight is-warning is-bold">
    <div class="hero-body">
      
      <div class="container">
        <h1 class="title is-1">
          Error
        </h1>
        <h2 class="subtitle is-3">
          {{ error }}
        </h2>

        <div class="level-left">
          <p class="level-item">Back to </p>
          <a class="level-item button is-dark" href="/">Safety</a>
        </div>
      </div>
      
    </div>
  </section>


  <script src="https://use.fontawesome.com/316a43714b.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

</body>
</html>